
{% extends 'myapp/base.html' %}

{% block title %} ยินดีต้อนรับหน้าสมัครสมาชิก  {% endblock title %}

{% block menubar %}
<a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{% url 'shop' %}">หน้าแรก</a>
  <a class="nav-link fw-bold py-1 px-0" href="#">สินค้า</a>
  <a class="nav-link fw-bold py-1 px-0" href="#">เช็คเลข Tracking</a>
  <a class="nav-link fw-bold py-1 px-0" href="{% url 'about-us' %}">เกี่ยวกับเรา</a>
  <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'contact' %}">ติดต่อเรา</a>
{% endblock menubar %}
    
{% block content %}


        
     <h1>กรุณาอ่านเงื่อนไข "ส่วนลดพิเศษ"</h1>
     <div class="container">

       <li>
            <ul>1.คุณต้องเป็นสมาชิกของเว็บไซต์เท่านั้น</ul>
            <ul>2.คุณต้องเป็นสมาชิกอย่างน้อย 30 วัน</ul>
            <ul>3.คุณต้องไม่อยู่ในสถานะแบล็คลิสของเว็บไซต์</ul>

       </li>
      
       

        <form action="" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <input class="form-check-input" type="checkbox" value="check-true" id="discount" name="discount">
                <label class="form-check-label ms-1" for="checkbox1">
                    ยอมรับเงื่อนไข
                </label>
            </div>
              

            <button type="submit" class="btn btn-primary mt-4">ยืนยันข้อตกลง</button>
        </form>
     </div>



    



{% endblock content %}