
{% extends 'myapp/base.html' %}

{% block title %} หน้าล็อคอิน {% endblock title %}

{% block menubar %}
<a class="nav-link fw-bold py-1 px-0" aria-current="page" href="{% url 'shop' %}">หน้าแรก</a>
  <a class="nav-link fw-bold py-1 px-0" href="#">สินค้า</a>
  <a class="nav-link fw-bold py-1 px-0" href="#">เช็คเลข Tracking</a>
  <a class="nav-link fw-bold py-1 px-0" href="{% url 'about-us' %}">เกี่ยวกับเรา</a>
  <a class="nav-link fw-bold py-1 px-0 active" href="{% url 'contact' %}">ติดต่อเรา</a>
{% endblock menubar %}
    
{% block content %}
    

     <h1>เข้าสู่ระบบ</h1>
     <div class="container">
        <form action="" method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label for="email">email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
 
            <div class="form-group">
                <label for="password">password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>


            <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
        </form>
     </div>

{% endblock content %}